.detailContainer {
  width: 55%;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  background-color: black;
  box-shadow: 0 0 10px 5px rgba(124, 252, 100, 0.5);
}

.leftSection {
  flex: 1;
  padding: 20px;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 300px;
}

.rightSection {
  flex: 1;
  display: flex; /* Agregar flexbox */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.rightSection h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgba(124, 252, 100, 0.5);
}

h2 {
  font-size: 18px;
  margin-bottom: 7px;
  color: rgba(124, 252, 100, 0.5);
}
