.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  color: #7cfc6480;
}

span {
  margin-left: 200px;
  color: #7cfc6480;
  font-weight: bold;
  font-size: x-large;
}

.select {
  margin-left: 25px;
  margin-right: 25px;
  background-color: #000;
  color: rgba(124, 252, 100, 0.5);
  border: none;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 0 10px 5px #7cfc6480;
  transition: transform 0.2s, box-shadow 0.2s;
  height: 40px;
  appearance: none;
}

.iconoSelectFiltro {
  position: relative;
  top: 3px;
  left: 100px;
  font-size: 14px;
  z-index: 1;
}

.iconoSelectOrden {
  position: relative;
  top: 3px;
  left: 119px;
  font-size: 14px;
  z-index: 1;
}

.navFavorites span {
  margin-left: 10px;
  font-size: medium;
}

.input {
  flex-grow: 1;
  padding: 12px;
  background-color: #ffffff;
  color: rgba(124, 252, 100, 0.5);
  border: none;
  border-radius: 30px;
}

.button {
  margin-left: 25px;
  margin-right: 25px;
  background-color: black;
  color: rgba(124, 252, 100, 0.5);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 10px 5px rgba(124, 252, 100, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 30px;
  height: 40px;
}

.button:hover {
  transform: scale(1.2);
}

.link {
  text-decoration: none;
}
