.error {
  background-image: url("../../images/error");
  position: fixed;
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.posicion {
  position: absolute;
  left: 1100px;
}

h1 {
  padding-top: 10px;
  color: #096d31;
}

h3 {
  font-size: large;
  color: #096d31;
  padding-bottom: 5px;
  font-weight: bolder;
}

p {
  color: #096d31;
  font-size: x-large;
  font-weight: bold;
}

.icono {
  color: #096d31;
}

.link {
  text-decoration: none;
}
