.contenedor {
  position: relative;
  width: 25%;
  margin: 20px;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 1);
  border-radius: 30px; /* Reduce el valor del border-radius para eliminar la forma circular */
  overflow: hidden; /* Evita que se muestre contenido fuera del contenedor */
}

.imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block; /* Agrega esta propiedad */
}

.estrella {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 1;
  padding: 0;
  cursor: pointer;
}

.icon-white {
  color: white;
}

.icon-yellow {
  color: yellow;
}

.cruz {
  position: absolute;
  top: 5px;
  left: 5px;
  color: red;
  font-size: 25px;
}

.scale-and-shadow {
  animation: scale-and-shadow 1.5s;
}

@keyframes scale-and-shadow {
  0% {
    transform: scale(0.5);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 1);
  }
}
