.contenedor {
  background: black;
  position: relative;
  width: 30%;
  margin: 20px 0;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.corazon {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 1;
  padding: 0;
  cursor: pointer;
}

.cruz {
  position: absolute;
  top: 5px;
  left: 5px; /* Alinea la cruz a la izquierda */
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, .55);
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0);
  }
} 

.shadow-drop-center {
  animation: shadow-drop-center 3s linear both;
  animation-fill-mode: forwards;
}
