.container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.input {
  padding: 12px;
  background-color: #000;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 30px;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.6);
  flex-grow: 1;
  padding-left: 40px;
}

.input::placeholder {
  color: #ffffff;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
}

.button {
  margin-left: 25px;
  margin-right: 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 20px rgba(0, 128, 0, 0.6);
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 30px;
  height: 40px;
}

.button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(0, 128, 0, 0.6);
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
